<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    /* Define a CSS class for the box/container */
    .custom-box {
      width: 300px; /* Set the width of the box */
      height: 220px; /* Set the height of the box */
      background-color: white; /* Set the background color of the box */
      border: 1px solid #999; /* Add a border to the box */
      padding: 10px; /* Add some padding inside the box */
      margin: 20px; /* Add some margin around the box */
    }
  </style>
</head>
    <title>Document</title>
</head>
<body>
  <section>
<div class="container pt-3 ">
  <form action="/place-order/" id="checkout-form" method="post">
        <div class="row">
           <div class="col-md-6">
                    <h3>Enter Delivery Details</h3><br>
                    Address:<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="address" name="address">
                    Pincode:<input type="text" class="form-control" id="exampleInputEmail1" name="pincode">
                    mobile:<input type="text" class="form-control" id="exampleInputEmail1" name="mobile">
                    <input type="text" name="userId" value="{{user._id}}" hidden>

           </div>
                

     <div class="col-md-6 pt-4">
              <div class="custom-box">
                Total amount: Rs {{total}}
                <hr>
                <p>Payment method</p>
                <label for="COD">COD</label> 
                <input type="radio" id="COD" name="payment-method" value="COD" checked><br>
                <label for="Online">Online Payment</label>
                <input type="radio" id="Online" name="payment-method" value="ONLINE"><br>
                <button class="btn btn-primary float-end" type="submit">Checkout</button>
              </div>
            </div>

              
            </div>
            </form>
        </div>
        
      </section> 
      <script>
        $('#checkout-form').submit((e)=>{
          console.log($('#checkout-form').serialize());
          e.preventDefault();
          $.ajax({
            url:'/place-order',
            method:'post',
           data: $('#checkout-form').serialize(),
            success:(response)=>{
              if(response.status){
                location.href='/order-success'
              }
              alert(response)
            }
          })
        })
      </script>
    </body>
</html>